extends layout

block add2menu
    a(href="https://github.com/jcvels/itfcalculator/issues" target="_blanck").text-muted.ml-2 #addissue

block contenido
    div(style="max-width: 800px").mx-auto
        div.alert.alert-danger.mt-5
            p.display-4 404
            hr
            p.lead Lo lamentamos, no fue posible encontrar lo que buscabas 
                a(href="/").text-left #gohome