extends layout
block contenido
    .uk-card.uk-card-default.uk-card-body.uk-alert-danger
        p.uk-card-title.uk-text-danger 404
        p Lo lamentamos, pero no fue posible encontrar lo que buscabas :(