extends layout
block contenido
    p.lead Genera archivo de imagen basado en un ITF14
    div.mt-5
    form(action="/gen14", method="post")
        .row.mt-5
            .form-group.col-sm-4
                label(for="barcode14Value") Ingresa el ITF14
                input(type="number", name="barcode14Value", required).form-control
        .from-group
            button(type="submit").btn.btn-sm.btn-primary.mt-2 Generar
