extends layout
block contenido
    p.lead Generamos el código! 
        span.text-muted Click derecho + Guardar imágen como
    .card.mt-5
        .card-body
            div.text-center
                img(src=`https://barcode.tec-it.com/barcode.ashx?data=${code}&code=Code25IL&dpi=96&dataseparator='`)
