<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gen-14
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css")
    body.uk-container-small.uk-align-center
        block contenido
        p.uk-position-bottom-center.uk-text-meta una aplicación de UVCoding