<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GEN14
        link(rel="Shortcut Icon", href="http://uvcoding.com.ar/assets/logo_uvcoding_isotype_200x200.svg")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/appstyles.css")
    body.container.mt-5
        div.row
            div.col-sm-4
                a(href="/").text-decoration-none
                    p.display-4.mb-0.text-info GEN14
            div.col-sm-8.text-sm-right
                div.mt-sm-4
                    a(href="/").text-muted.app-hover #home
                    a(href="https://github.com/jcvels/itfcalculator/blob/master/README.md" target="_blank").ml-2.text-warning.app-hover #help
                    a(href="https://github.com/jcvels/itfcalculator/blob/master/LICENSE" target="_blank").ml-2.text-warning.app-hover #license
                    a(href="https://github.com/jcvels/itfcalculator" target="_blank").ml-2.text-warning.app-hover #github
                    block add2menu
        hr
        if notification
            div(role="alert").alert.alert-danger.d-flex #{ notification } 
                span.ml-auto
                    a(href="/").text-muted #tryagain
        else
            block contenido
        footer.mt-5.text-center.text-muted.inline-text
            small V2.0 | GEN-14 | 2020 &copy;  
                a(href="http://uvcoding.com.ar").text-muted.mt-5 UVCoding
